@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@0;1&display=swap");

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	/* overflow: hidden; */
}

a {
	color: inherit;
}

:root {
	--para-color: #465b52;
	--header-bg: #e3e6fe;
	--nav-color: rgba(85, 82, 82, 0.878);
	--nav-hover: #2aa199;
	--brown-shade: #333;

	--spacing: 1.2px;
	--transition: 300ms ease all;
}

body {
	font-family: "Montserrat", sans-serif;
	width: 100%;
	overflow-x: hidden;
}

button.normal {
	font-size: 15px;
	font-weight: 600;
	padding: 20px 30px;
	color: #222;
	background: #fff;
	border-radius: 4px;
	cursor: pointer;
	border: 0;
	outline: none;
	transition: var(--transition);
}

h1 {
	font-size: 50px;
	line-height: 64px;
}

h2 {
	font-size: 46px;
	line-height: 54px;
}

h4 {
	font-size: 20px;
}

h6 {
	font-weight: 700;
	font-size: 12px;
}

p {
	font-size: 16px;
	color: var(--para-color);
	margin: 15px 0 20px 0;
}

.section-p1 {
	padding: 40px 80px;
}

.section-m1 {
	margin: 40px 0;
}

.header-logo {
	width: 150px;
	height: 100px;
}

.logo .main-logo {
	color: #270303;
	font-size: 25px;
	font-weight: 800;
	font-family: "Libre Bodoni", serif;
	font-style: italic;
}
.logo .side-logo {
	color: #27030371;
	font-size: 18px;
	font-weight: 500;
	/* font-family: 'Libre Bodoni', serif; */
}

/* Heaader */
.upper-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	padding: 20px;
	height: 3.5rem;
	background-color: #888;
	color: #fff;
	z-index: 99;
}

.flag {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	cursor: pointer;
}

.flag .fa-chevron-down {
	color: #fff;
}

.address {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 1.1rem;
	cursor: pointer;
}

.address input {
	width: 420px;
	padding: 8px;
	font-size: 14px;
	letter-spacing: 1.1px;
	outline: none;
	cursor: pointer;
	border-radius: 4px;
	border: none;
}

.address .fa-magnifying-glass {
	cursor: pointer;
	background: #f1b427;
	padding: 10px;
	border-radius: 4px;
}

.more-icons {
	display: flex;
	align-items: center;
	gap: 1.3rem;
	cursor: pointer;
}

.more-icons i {
	transition: var(--transition);
	padding: 12px;
	border-radius: 8px;
}

.more-icons i:hover {
	background: #5c5a5a;
}

/* Second header */

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 3rem;
	padding: 20px 80px;
	background-color: #e3e6fe;
	box-shadow: 0 5px 10px rgba(231, 187, 187, 0.45);
	z-index: 99;
}

#navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	font-size: 0.8rem;
	/*position: relative;
	letter-spacing: var(--spacing);
	width: auto; */
}

.mobile {
	font-size: 24px;
	color: #223e72;
	display: none;
	align-items: center;
}

#navbar li a {
	text-transform: uppercase;
	font-weight: 600;
	color: var(--nav-color);
	position: relative;
	transition: var(--transition);
}

#navbar a:hover,
#navbar a.active {
	color: var(--nav-hover);
}

#navbar li a.active::after,
#navbar li a:hover::after {
	position: absolute;
	content: "";
	width: 50%;
	height: 2px;
	bottom: -5px;
	left: 0px;
	transition: var(--transition);
	background: var(--nav-hover);
}

.fa-shopping-bag {
	color: #ea0d2b;
	font-size: 1rem;
	cursor: pointer;
}

#digit {
	color: #270303 !important;
	text-decoration: none;
	font-size: 13px;
	top: -2px;
	position: relative;
	font-weight: 700;
	background-color: #fff;
	padding: 5px;
	border-radius: 8px;
}

#cross {
	display: none;
}

/* Hoveing dropdown */

.mega-menu {
	position: absolute;
	left: 40%;
	transform: translate(-40%, -5%);
	height: 80vh;
	width: 90vw;
	top: 80px;
	opacity: 0;
	transition: var(--transition);
	pointer-events: all;
	visibility: hidden;
}

.mega-menu .content {
	border-radius: 12px;
	border-left: 10px solid #0081a7;
	height: 100%;
}

.menu-items:hover .mega-menu {
	top: 60px;
	opacity: 1;
	visibility: visible;
}

.content .col {
	display: flex;
	flex-direction: column;
	line-height: 3rem;
	width: 100%;
}

.col .mega-links li {
	color: #8338ec;
	transition: 300ms linear;
	/* font-size: 0.5rem; */
}

.col .mega-links li:hover {
	color: #062a7e;
	transform: scale(1.1);
}

.content .col li {
	padding: 0 1rem;
	transform: scale(1);
	transition: var(--transition);
	color: #8338ec;
}

.content .col h2 {
	font-size: 18px;
	padding: 0 1rem;
	padding-bottom: 1rem;
	color: #5e548e;
	width: 100%;
}

.menu-items li:hover .mega-menu {
	top: 60px;
	opacity: 1;
	visibility: visible;
}

.mega-menu .content {
	background: #a2d2ff;
	padding: 2rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	width: 100%;
	justify-content: space-between;
}

.content .col-2 {
	padding-top: 5rem;
}

.content .col {
	border-left: 1px solid #073b4c5f;
}

.content .col:nth-child(1) {
	border-left: none;
}

.single-item {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-content: center;
	padding: 0.2rem 0;
	border-bottom: 0;
}

.single-item img {
	border-radius: 50%;
	padding: 0.2rem;
	border: 1px solid #6b705c;
	height: 50px;
	width: 50px;
}

.single-item span {
	width: 100%;
	font-size: 14px;
	color: #095b74;
}

.single-item span:hover {
	color: #062a7e;
	cursor: pointer;
}

/* Cart-Items */

.cart-overlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transition: var(--transition);
	background: rgba(240, 145, 81, 0.5);
	z-index: 2;
	transform: translateX(100%);
}

.show-cart {
	transform: translateX(0%);
	transition: var(--transition);
}

header .shopping-cart {
	position: fixed;
	top: 70px;
	right: 0;
	width: 30%;
	height: 100%;
	overflow-y: scroll;
	z-index: 3;
	background: rgb(231, 226, 221);
	padding: 1.5rem;
	transition: var(--transition);
	letter-spacing: 1.1px;
	transform: translateX(100%);
}

.content .price {
	font-size: 16px;
	letter-spacing: 1.1px;
}

/* .shopping-cart.active {
	transform: translateX(0%);
	transition: var(--transition);
} */

.transparentBcg {
	visibility: visible;
	transition: var(--transition);
}

header .shopping-cart .box {
	display: grid;
	align-items: center;
	grid-template-columns: auto 1fr auto;
	grid-column-gap: 1.5rem;
	position: relative;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.close-cart {
	font-size: 1.7rem;
	cursor: pointer;
	position: relative;
	color: #333;
	top: 40px;
	display: inline-block;
	z-index: 99;
}

.shopping-cart h2 {
	text-align: center;
	font-size: 26px;
	color: #f09d51;
	text-transform: capitalize;
}

.content h3 {
	font-size: 0.85rem;
	text-transform: capitalize;
	color: #088178;
}

.content h5 {
	margin: 0.5rem 0;
}

.item-amount {
	text-align: center;
}

.shopping-cart .box .content {
	padding-left: 2rem;
}

.box .content h3,
.quantity {
	padding: 0.5rem 0;
}

.shopping-cart .box img {
	height: 5rem;
	border-radius: 6px;
	transform: scale(1);
	transition: 300ms ease all;
	cursor: pointer;
}

.shopping-cart .box img:hover {
	transform: scale(1.1);
}

.banner-btn {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 1rem;
	text-transform: uppercase;
	letter-spacing: 1.1px;
	font-size: 0.8rem;
	font-weight: 300;
	background-color: #cb9820;
	border: none;
	border-radius: 8px;
	color: #fafdfe;
	cursor: pointer;
}

.cart-footer {
	margin-top: 2rem;
	letter-spacing: var(--mainSpacing);
	text-align: center;
}
.cart-footer h3 {
	text-transform: capitalize;
	margin-bottom: 1rem;
	color: #f09d51;
}

.view-cart {
	margin: 2rem;
	width: 80%;
	padding: 10px 0;
	display: flex;
	justify-content: center;
	outline: none;
	border: none;
	color: #fff;
	border-radius: 8px;
	background: rgb(190, 43, 43);
	font-size: 18px;
	letter-spacing: 1.1px;
	transition: var(--transition);
	cursor: pointer;
}

.view-cart:hover {
	background: rgba(234, 44, 44, 0.905);
}

.item-amount {
	margin: 10px 0 10px 0;
}
.fa-chevron-up,
.fa-chevron-down {
	cursor: pointer;
	padding: 2px;
	border-radius: 4px;
	color: rgb(221, 190, 13);
	font-size: 12px;
}

.cart-footer {
	margin-top: 2rem;
	text-align: center;
}
.cart-footer h3 {
	text-transform: capitalize;
	margin-bottom: 1rem;
	text-align: center;
}

.total {
	font-size: 1.5rem;
}

.box {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 10px;
}

.price {
	font-size: 12px;
	color: #888;
}

.remove-item {
	font-size: 12px;
	color: #f00;
	cursor: pointer;
	margin-top: 5px;
}

.input-number {
	width: 50px;
	padding: 5px;
}

/* SIDE BANNER */

.side-banner {
	position: fixed;
	right: -620px;
	transform: translateY(70%);
	display: grid;
	grid-template-columns: 10% 90%;
	width: 50%;
	height: 300px;
	z-index: 100;
	background-color: white;
	transition: var(--transition);
	cursor: pointer;
}

.side-banner.show-banner {
	right: 0px;
}

.side-banner .left-side {
	height: 300px;
	margin: 0 auto;
	width: 100%;
	background-color: #4b4646;
}

.side-banner .left-side .flat-offer {
	writing-mode: vertical-lr;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	height: 100%;
	font-size: 22px;
	letter-spacing: 3px;
	color: #fff;
	font-weight: 600;
	background-color: gray;
	padding: 10px;
}

.side-banner .right-side .upper-banner {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;

	border-bottom: 1px solid #7777773c;
}

.upper-banner .banner-offer {
	padding: 0 5px 0 5px;
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}
.upper-banner .banner-offer > p {
	text-align: justify;
}

.upper-banner .banner-offer > h1 {
	font-size: 35px;
	padding: 0 5px 0 0;
	color: #4b4646;
}
.upper-banner .banner-offer p {
	font-size: 15px;
	font-weight: 600;
}

.upper-banner .banner-offer p span {
	font-size: 20px;
	padding-left: 5px;
}

.side-banner .right-side {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(248, 201, 209, 0.793);
}

.right-side .upper-banner .banner-img {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 10px;
}

.upper-banner .banner-img img {
	width: 150px;
}

.upper-banner .banner-img .offer-btn {
	padding: 16px 14px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1.2px;
	background-color: rgba(240, 42, 79, 0.96);
	border: none;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	transition: var(--transition);
}

.upper-banner .banner-img .offer-btn:hover {
	background-color: rgb(225, 21, 58);
}

.flat-offer .fa-arrow-left {
	margin: 10px 0;
}

.right-side .down-banner {
	display: flex;
	gap: 1.4rem;
	align-items: center;
	width: 100%;
	justify-content: center;
	height: 100%;
}
.right-side .down-banner span {
	font-size: 12px;
	font-weight: 600;
	color: #4b4646;
}

.right-side .down-banner svg {
	fill: #0e6ba8;
	padding-left: 0.4rem;
}

/* Hero Section */

#hero-section {
	margin-top: 5rem;
	background: url("images/hero4.png");
	background-position: top 10% right 0;
	background-size: cover;
	width: 100%;
	height: 90vh;
	padding: 0 80px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	line-height: 2.2rem;
	letter-spacing: var(--spacing);
	position: relative;
}

#hero-section {
	padding: bottom 15px;
}

/* Wrapper */

.login-wrapper {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;
	height: 500px;
	width: 400px;
	max-width: 90%;
}

#wrapper {
	/* position: absolute;
	transform: translate(120%, 20%); */

	background: transparent;
	border: 2px solid rgba(255, 252, 252);
	border-radius: 14px;
	backdrop-filter: blur(10px);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(85, 82, 82, 0.478);
	top: -800px;
	transition: var(--transition);
}

#wrapper.show-wrapper {
	top: 0px;
}

#wrapper .form-box {
	width: 100%;
	padding: 40px;
}

.form-box h2 {
	text-align: center;
	font-size: 2rem;
	color: #d2d9df;
}

.input-box {
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #162938;
	margin: 30px 0;
}

.input-box label {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	font-size: 1em;
	color: #fff;
	font-weight: 600;
	pointer-events: none;
	font-size: 18px;
}

.input-box .icon {
	position: absolute;
	right: 8px;
	font-size: 1.3rem;
	color: #e9eef1;
	line-height: 57px;
}

.input-box input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	font-size: 18px;
	letter-spacing: 1.1px;
	color: #dcd1d1;
	transition: var(--transition);
}

.input-box input:focus ~ label {
	top: -5px;
	transition: var(--transition);
}

.remember-forgot {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 0.95rem;
	color: #fff;
}

.remember-forgot > label {
	outline: none;
	padding: 0 5px;
	display: flex;
	gap: 2px;
	align-items: center;
	color: #fff;
}

.submit-btn {
	text-align: center;
	border: none;
	width: 100%;
	padding: 10px;
	margin-top: 1.8rem;
	font-size: 19px;
	letter-spacing: 1.1px;
	font-weight: 600;
	color: #1f2021;
	border-radius: 8px;
	background: rgba(70, 62, 221, 0.2);
	cursor: pointer;
	transition: var(--transition);
}

.submit-btn:hover {
	background-color: #162938;
	color: #fff;
}

.login-registration {
	width: 100%;
	text-align: center;
	color: #162938;
	font-size: 18px;
	font-weight: 600;
}

.login-registration p {
	margin-bottom: 15px;
	font-size: 18px;
	color: #fff;
}
.login-registration a {
	color: #fff;
	margin-top: 1.5rem;
}

#wrapper .close-login {
	position: absolute;
	top: 2%;
	right: 2%;
}

#wrapper .fa-xmark {
	color: #162938;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	font-size: 20px;
	border-radius: 5px;
	background-color: #d3e4e3;
	transition: var(--transition);
}

#wrapper .fa-xmark:hover {
	color: #fff;
	background-color: #222;
	cursor: pointer;
}

#hero-section > h1 {
	margin: 4rem 0 1.2rem 0;
	/* margin-bottom: 1.2rem; */
	color: var(--nav-hover);
	font-family: "Ubuntu";
}

#hero-section > h2 {
	margin-bottom: 0.8rem;
	color: var(--brown-shade);
	font-weight: 600;
}

#hero-section > h4 {
	color: var(--brown-shade);
}
#hero-section > p {
	margin-top: -0.5rem;
	font-weight: 400;
}

.hero-section-btn {
	background: url(./images/button.png);
	background-color: transparent;
	padding: 16px 80px 14px 65px;
	border: none;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	color: var(--nav-hover);
	cursor: pointer;
	margin-left: 1.2rem;
}

/* Filter-Buttons */

.filter-prods {
	margin-top: 2rem;
	display: flex;
	gap: 1.5rem;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.filter-prods span {
	padding: 10px 25px;
	font-size: 18px;
	text-align: center;
	letter-spacing: 1.3px;
	background-color: #333;
	color: #fff;
	border-radius: 8px;
	cursor: pointer;
	border: none;
	transition: var(--transition);
}

.filter-prods span:hover {
	background-color: #111;
}

/* Features */

#feature {
	display: grid;

	margin-bottom: 2rem;
	grid-template-columns: repeat(6, 1fr);

	place-items: center;
}

#feature .fe-box {
	width: 180px;
	text-align: center;
	padding: 25px 15px;
	margin: 15px 0;
	border: 1px solid #cce7d0;
	transition: var(--transition);
}

#feature .fe-box:hover {
	box-shadow: 10px 10px 34px rgba(70, 62, 221, 0.7);
	cursor: pointer;
	border: 0;
}

#feature .fe-box img {
	width: 100%;
	margin-bottom: 0.6rem;
}

#feature .fe-box > h6 {
	display: inline-block;
	padding: 10px 8px 6px 8px;
	color: var(--nav-hover);
	background: #fddfe4;
	letter-spacing: var(--spacing);
	font-weight: 12px;
}

#feature .fe-box:nth-child(2) h6 {
	background: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
	background: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6 {
	background: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
	background: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6 {
	background: #efd1b3;
}

/* Products */

#product-1 .pro-container {
	/* display: flex;
	justify-content: space-between;
	flex-wrap: wrap; */
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	place-items: center;
}

#product-1 > div {
	margin-bottom: 3rem;
	text-align: center;
}

#product-1 > div > h2 {
	color: var(--nav-hover);
	letter-spacing: var(--spacing);
}

#product-1 .pro {
	width: 23%;
	min-width: 230px;
	padding: 5px;
	border: 0.2px solid #dcdada46;
	border-radius: 25px;
	cursor: pointer;
	transition: var(--transition);
	margin: 15px 0;
}

#product-1 .pro:hover {
	box-shadow: 10px 10px 8px rgba(70, 62, 221, 0.2);
	border: 0;
}

#product-1 .pro img {
	border-radius: 20px;
	width: 100%;
	height: 60%;
}

#product-1 .pro .desc {
	text-align: start;
}

#product-1 .pro .desc span {
	font-weight: 300;
	margin: 8px 0;
	display: inline-block;
}

#product-1 .pro .desc h5 {
	color: var(--para-color);
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 8px;
}

.star {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fa-star {
	color: goldenrod;
	margin-bottom: 12px;
}

.star h4 {
	color: var(--para-color);
	font-weight: 500;
	font-size: 18px;
}

.fa-cart-shopping {
	display: flex;
	justify-content: center;
	align-items: center;
}

.symbols {
	position: relative;
}

.heart {
	position: relative;
	width: 30px;
	height: 30px;
	top: -50px;
	right: 40px;
}

.symbols .fa-heart {
	text-align: center;
	color: #fff;
	background-color: crimson;
	border-radius: 50%;
	padding: 10px;
	transition: var(--transition);
	transform: scale(0);
}

.heart .fa-heart:hover {
	background-color: #f0ecec;
	color: crimson;
}

#product-1 .pro:hover .fa-heart {
	transform: scale(1);
}

.cart {
	transition: var(--transition);
	width: 40px;
	height: 40px;
	padding: 10px;
	line-height: 40px;
	background: #e9f8cd;
	font-weight: 500;
	color: #088178;
	border-radius: 50%;
}
.cart:hover {
	background: var(--nav-hover);
	color: #fff;
}

.shopping-cart {
	outline: none;
	width: 30vw;
	min-width: 450px;
}
.shopping-cart.active {
	transform: translateX(0%);
	transition: var(--transition);
}

/* PAYMENT SECTION  */

.payment-wrapper {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}

.payment-container {
	width: 600px;
	height: 600px;
	margin: auto;
	background-color: #e39292ae;
	backdrop-filter: blur(50px);

	padding: 10px 50px;
	display: flex;
	flex-direction: column;
	box-shadow: 10px 11px 23px 7px rgba(150, 128, 128, 0.66);
	border: 1px solid #2222226c;
	border-radius: 12px;
	transition: var(--transition);
}

/* .show-payment {
	top: 50px;
} */

.payTitle {
	font-size: 20px;
	color: rgb(74, 78, 78);
}

label {
	font-size: 16px;
	font-weight: 400;
	color: #222;
	padding-top: 5px;
}

.payInput {
	padding: 5px;
	margin: 10px 0;
	outline: #222;
	font-size: 16px;
	border: none;
	background: transparent;
	letter-spacing: 1.2px;
	border-bottom: 1px solid rgb(54, 51, 51);
	font-size: 16px;
}

.payInput::placeholder {
	color: #454141;
	font-family: "Montserrat";
}

.cardInfo {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}

.cardInfo input {
	width: 100px;
}

.sm {
	width: 30%;
}

.payBtn {
	width: 100%;
	background-color: #369e63;
	margin: 1rem 0;
	padding: 10px 0;
	text-align: center;
	color: #e3eaf0;
	cursor: pointer;
	transition: var(--transition);
	border: none;
}

.payBtn:hover {
	background-color: #a92727;
}

.close-pay {
	position: absolute;
	top: 10px;
	right: 20px;
	background-color: #a32828;
	padding: 12px;
	font-size: 18px;
	font-weight: 800;
	border-radius: 6px;
	color: #fff;
	transition: var(--transition);
	cursor: pointer;
}

.close-pay:hover {
	color: rgb(190, 53, 53);
	background-color: #fff;
}

/* Banner Section */
#banner {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
	background: url(./images/b2.jpg);
	background-size: cover;
	background-position: center;
	height: 50vh;
	color: #fff;
	font-family: "Ubuntu";
	font-weight: 500;
	letter-spacing: var(--spacing);
	position: relative;
}

#banner h2 span {
	color: rgb(179, 10, 10);
}
#banner h2 {
	padding: 16px 0;
	padding-bottom: 22px;
}

#banner button:hover {
	background: var(--nav-hover);
	color: #fff;
}

#banner-3 {
	/* display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	padding: 40px 80px;
}

#banner-3 .banner-box {
	min-width: 30%;
	height: 30vh;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	transition: var(--transition);
	transform: scale(1);
	border-radius: 12px;
}

#banner-3 .banner-box:hover {
	opacity: 0.8;
	cursor: pointer;
	transform: scale(1.05);
	border-radius: 0;
}

#banner-3 .banner-box h2 {
	color: #fff;
	font-weight: 700;
	font-size: 26px;
}

#banner-3 .banner-box h3 {
	color: #fa0b4f;
	font-weight: 700;
}

.ban-1 {
	background: url(./images/b7.jpg);
	background-size: cover;
}

.ban-3 {
	background: url(./images/b18.jpg);
	background-size: cover;
}
.ban-2 {
	background: url(./images/b4.jpg);
	background-size: cover;
}

/* Newsletter */

#newsletter {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	background: url(./images/newletter.avif) no-repeat center center/cover;
	object-fit: contain;
	height: 35vh;
	margin: 2rem 0;
}

.newtext h4 {
	color: #9db4c0;
	letter-spacing: var(--spacing);
	font-size: 36px !important;
}

.newtext p {
	color: #fff;
	font-size: 18px;
}
.newtext span {
	color: #ff9e00;
}

#newsletter .form {
	display: flex;
	width: 30%;
}

#newsletter input {
	height: 3rem;
	width: 100%;
	padding: 0 1.4rem;
	font-size: 20px;
	outline: none;
	border: 1px solid transparent;
	border-radius: 4px 0 0 4px;
}

#newsletter .normal {
	background: #088178;
	color: #fff;
	padding: 0 1.4rem;
	width: 30%;
	border-radius: 0 4px 4px 0;
	font-size: 18px;
	white-space: nowrap;
	font-weight: 400;
	letter-spacing: var(--spacing);
}

/* Footer */

footer {
	display: grid;
	grid-template-columns: 40% 20% 20% 20%;
}

footer .col {
	margin-top: 1.2rem;
	display: flex;
	gap: 1.2rem;
	flex-direction: column;
}

.col-1 p {
	margin: 0;
}

.col-1 .follow {
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

.col-1 .follow i {
	padding: 0.4rem;
	font-size: 24px;
	cursor: pointer;
	color: #0e6ba8;
}

.col-1 .follow i:hover {
	color: #064161;
}

.col h4 {
	color: #555;
	letter-spacing: var(--spacing);
}

.col a {
	color: #777;
	font-weight: 500;
}

.col a:hover {
	color: #333;
}

.col-4 .row {
	display: flex;
	justify-content: center;
	gap: 0.8rem;
	cursor: pointer;
}

.col-4 .row img {
	border: 2px solid #088178;
	border-radius: 12px;
}

.copyright {
	width: 100vw;
	display: grid;
	place-items: center;
}

.copyright p {
	width: 100%;
	color: #333;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: var(--spacing);
}

/* SHOP PAGE */

#page-header {
	background: url(./images/slide-03.jpg.webp) no-repeat center center / cover;
	width: 100%;
	/* background-position: unset; */
	margin-top: 4rem;
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

#page-header > h2,
#page-header > p {
	padding: 0 30px;
	color: #454545;
}

#page-header > h2 {
	width: 50%;
}

#page-header > h2 span {
	color: #33b86c;
}

#page-header > p {
	font-weight: 600;
}

#page-header > p span {
	color: red;
	font-size: 22px;
}

/* pagination */
#pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.1rem;
}
#pagination a {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--nav-hover);
	width: 60px;
	height: 60px;
	border-radius: 8px;
	font-weight: 600;
	font-size: 18px;
}

#prodetalis {
	height: 100vh;
}

#prodetails .single-pro-img {
	width: 40%;
}

.small-img-grp {
	display: flex;
	justify-content: space-between;
	gap: 0.4rem;
}
.small-img-col {
	cursor: pointer;
}

.small-img-col:hover {
	opacity: 0.8;
}

/* BLOG PAGE */

#page-header.blog-header {
	background: url(./images/b19.jpg) no-repeat center center / cover;
	height: 70vh;
	align-items: center;
	justify-content: center;
}

#page-header.blog-header > h2,
#page-header.blog-header > p {
	color: #fff;
	padding: 0 30px;
	text-align: center;
	width: 100%;
}

#page-header.blog-header > p {
	font-size: 22px;
}

#blog {
	padding: 150px 120px 0 120px;
	/* border: 10px solid #c9cbce81; */
}

#blog .blog-box {
	width: 100%;
	margin-top: 2rem;
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 6rem;
	position: relative;
	padding: 50px 20px;
	margin-bottom: 30px;
}

.blog-box .blog-img {
	width: 100%;
}

.blog-img img {
	width: 100%;
	transform: scale(1);
	transition: var(--transition);
	object-fit: contain;
	border-radius: 12px;
}

.blog-img img:hover {
	transform: scale(1.04);
	border-radius: 0px;
}

.blog-details {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: var(--brown-shade);
	width: 100%;
	letter-spacing: 1.1px;
}

.blog-details h4 {
	font-size: 28px;
}

.blog-details p {
	padding: 10px 0;
	font-size: 18px;
}

.blog-details span {
	font-size: 18px;
	font-weight: 500;
	color: #33333369;
}

.blog-box h1 {
	position: absolute;
	top: 0px;
	left: 50px;
	font-size: 70px;
	color: #c9cbce81;
	font-weight: 700;
	z-index: -1;
	letter-spacing: 1.1px;
}

.line {
	height: 2px;
	width: 100%;
	background-color: #22222239;
	margin: 0 auto;
}

/* ABOUT US */
#page-header.about-header {
	background: url(./images/banner.png) no-repeat center center/cover;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#page-header.about-header h2,
#page-header.about-header p {
	color: #fff;
	text-align: center;
}

#page-header.about-header p {
	font-size: 18px;
}

/* ABOUT-US */
#about-head {
	padding: 150px 100px 0 100px;
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 3rem;
	width: 100%;
}

#about-head > img {
	height: 300px;
	width: 90%;
	transform: scale(1);
	transition: var(--transition);
	object-fit: cover;
	border-radius: 8px;
}

#about-head > img:hover {
	transform: scale(1.04);
	border-radius: 0px;
}

.text h2 {
	color: var(--brown-shade);
	letter-spacing: 1.1px;
}

.text p {
	color: #6f6868;
	line-height: 1.5;
	text-align: justify;
}

.marquee-container {
	overflow: hidden;
	background-color: #ccc;
}

.marquee-text {
	display: inline-block;
	animation: marquee 20s linear infinite;
	white-space: nowrap;
}

@keyframes marquee {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(-100%);
	}
}

#about-app {
	padding: 150px 100px 0 100px;
}

#about-app > h1 {
	text-align: center;
	margin: 2rem 0 2rem 0;
	color: #777373;
}

#about-app .video {
	width: 70%;
	margin: 0 auto 50px auto;
	height: 90%;
}

.video video {
	width: 100%;
	height: 100%;
	border-radius: 28px;
}

/* CONTACT-US */

#contact-details {
	padding: 120px 60px 0 60px;
	display: grid;
	gap: 2rem;
	grid-template-columns: 50% 50%;
	align-items: center;
	justify-content: center;
}

.details {
	padding: 20px 0;
}

.details span {
	padding: 12px 0;
}

.details h2 {
	font-size: 30px;
	line-height: 40px;
	color: var(--brown-shade);
	padding: 15px 0;
	text-align: start;
}

.details h3 {
	padding: 10px 0;
}

.details div li {
	display: flex;
	justify-content: flex-start;
	gap: 1.8rem;
	align-items: center;
}

.map {
	width: 100%;
}

.map iframe {
	width: 100%;
}

li > p {
	font-weight: 600;
}

#form-details {
	margin: 80px 50px;
	padding: 80px 60px 0 60px;
	display: grid;
	grid-template-columns: 60% 30%;
	justify-content: center;
	align-items: center;
	gap: 10%;
	border: 1px solid #6a6a6d7d;
	border-radius: 12px;
}

#form-details form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 20px;
}

#form-details form input,
#form-details form textarea {
	width: 100%;
	padding: 12px 15px;
	outline: none;
	margin-bottom: 20px;
	border: 1px solid #ada8a8;
	font-size: 14px;
	letter-spacing: 1.1px;
	border-radius: 6px;
}

#form-details form textarea {
	font-size: 19px;
}

#form-details form button {
	background: #088178;
	color: #fff;
	letter-spacing: 1.8px;
	font-size: 18px;
	font-weight: 500;
}

.people {
	padding-bottom: 50px;
}

.people div {
	display: flex;
	align-items: flex-start;
	gap: 1.1rem;
	justify-content: center;
	padding-bottom: 40px;
}

.people div img {
	height: 65px;
	object-fit: cover;
}

.people div p {
	color: #857c7c;
	line-height: 1.5;
}

.people div p > span {
	font-weight: 700;
}

/* WISH-LIST  */

.shop-wish-cart {
	margin-top: 8rem;
	padding: 50px 50px 0 50px;
}

.shop-wish-cart span {
	font-size: 22px;
	color: #333;
}

.wish-content {
	padding: 20px 20px 0 20px;
}

.shop-wish-cart > span {
	margin-bottom: 2rem;
}

.wish-content-title {
	padding: 50px 50px 0 50px;
	margin-bottom: 3rem;
}

.wishlist-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #3333334f;
	margin-bottom: 1.1rem;
}

.wishlist-item p {
	font-weight: 600;
	letter-spacing: 1.1px;
	font-size: 14px;
}

.cancel-wish {
	padding: 8px;
	border-radius: 6px;
	cursor: pointer;
	background: #777;
	transition: var(--transition);
}

.cancel-wish:hover {
	background: #333;
	color: #fff;
}

.wishlist-item img {
	width: 120px;
	margin-top: 1rem;
}

.wishlist-item button {
	padding: 10px 15px;
	background: #555;
	border: none;
	border-radius: 4px;
	color: #fff;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 1.1;
	transition: var(--transition);
	cursor: pointer;
}

.wishlist-item button:hover {
	background: #222;
}

@media screen and (max-width: 1100px) {
	.section-p1 {
		padding: 40px 30px 0 12px;
	}

	.address input {
		width: 220px;
	}

	#navbar {
		flex-direction: column;
		justify-content: flex-start;
		position: fixed;
		top: 0px;
		right: -300px;
		width: 300px;
		height: 100vh;
		background-color: #aaccd7f9;
		padding: 80px 0 0 10px;
		transition: var(--transition);
		z-index: 99;
	}

	#navbar #lg-bag {
		display: none;
	}

	#cross {
		display: flex;
		position: absolute;
		top: 40px;
		left: 30px;
		font-size: 24px;
	}

	#navbar.active {
		right: 0;
	}

	.mobile {
		top: 65px;
		right: 25px;
		display: flex;
		align-items: center;
		position: fixed;
		cursor: pointer;
	}

	.mobile .bag {
		padding-right: 3.5rem;
	}

	.fa-shopping-bag {
		font-size: 1.3rem;
	}

	#hero-section {
		background-position: top;
		height: 75vh;
		padding: 0 80px;
		letter-spacing: var(--spacing);
	}

	#product-1 .pro-container {
		grid-template-columns: repeat(2, 1fr);
	}

	#product-1 .pro {
		margin: 15px;
	}

	#feature {
		grid-template-columns: repeat(3, 1fr);
		margin: 0 auto;
	}

	#banner {
		width: 100%;
		height: 30vh;
		color: #fff;
		font-family: "Ubuntu";
	}

	#banner h2 {
		font-size: 24px;
		padding: 16px 0;
		padding-bottom: 22px;
	}

	#page-header.blog-header > h2 {
		font-size: 32px;
	}

	header.blog-header > p {
		font-size: 22px;
	}

	#page-header > h2 {
		margin: 0px;
		padding: 0px;
		line-height: 60px;
	}

	#page-header > p {
		width: 100%;
		padding: 0px;
	}

	#banner button.normal {
		font-size: 12px;
		padding: 10px 20px;
	}

	#banner-3 {
		padding: 0 35px;
	}

	.ban-1,
	.ban-2,
	.ban-3 {
		background-position: top;
	}

	#newsletter {
		height: 20vh;
		margin-top: 6rem;
		padding: 2rem 0 2rem 0;
	}

	#newsletter .form {
		width: 60%;
	}

	#newsletter input {
		height: 2.5rem;
		width: 100%;
		padding: 0 1.4rem;
		font-size: 14px;
	}

	footer {
		padding: 40px;
		grid-template-columns: 50% 50%;
		gap: 2rem;
	}
	footer .col-2 {
		margin: 0 auto;
	}
	.col-4 p,
	.col-4 h4 {
		margin: 0 auto;
	}

	.col-4 .row {
		margin: 0 auto;
	}
	footer .col-3 {
		margin-left: 2rem;
	}

	.payment {
		width: 40vw;
		margin: 0 auto;
		margin-bottom: 3.5rem;
	}

	.copyright p {
		color: #333;
		font-size: 18px;
		text-align: center;
		font-weight: 500;
		letter-spacing: var(--spacing);
	}

	.shop-header {
		height: 75vh;
		padding: 0 80px;
		letter-spacing: var(--spacing);
		margin-top: 4rem;
	}

	#blog {
		padding: 100px 100px 0 50px;
	}

	.blog-details h4 {
		font-size: 22px;
	}

	.blog-details p {
		padding: 10px 0;
		font-size: 16px;
		text-align: left;
	}

	.blog-details span {
		font-size: 18px;
	}

	#blog .blog-box {
		padding: 50px 0;
	}

	.about-header > p {
		text-align: center;
		font-size: 18px;
	}

	#about-head {
		padding: 150px 65px 0 50px;
		gap: 1.5rem;
	}

	#contact-details {
		padding: 100px 50px 0 50px;
		grid-template-columns: 50% 50%;
	}

	#form-details {
		padding: 80px 30px 0 30px;
		gap: 5rem;
	}
	.people div {
		padding-bottom: 15px;
		padding-right: 10px;
		flex-direction: column;
	}

	.people div img {
		height: 45px;
	}

	.people div p {
		margin-top: 0;
		line-height: 1.2;
		font-size: 14px;
	}

	.login-wrapper {
		max-width: 80%;
		height: 450px;
		transform: translate(-50%, -120%);
	}

	#page-header.about-header,
	#page-header.blog-header {
		height: 30vh;
	}
}

@media screen and (max-width: 799px) {
	.login-wrapper {
		max-width: 80%;
		height: 450px;
		transform: translate(-50%, -100%);
	}
}

@media screen and (max-width: 475px) {
	#header {
		padding: 20px 30px;
	}

	.more-icons .fa-magnifying-glass {
		display: flex;
	}

	.address {
		display: none;
	}

	.logo .main-logo {
		font-size: 18px;
	}

	.logo .side-logo {
		font-size: 12px;
	}
	#hero-section {
		background-position: 55%;

		object-fit: cover;
		padding: 0 20px;
	}
	#hero-section > h1 {
		margin-bottom: 0;
		font-size: 26px;
	}

	#hero-section > h2 {
		margin-bottom: 0;
	}
	#hero-section > h2 {
		font-size: 16px;
	}
	#hero-section > p {
		margin-bottom: 0;
		font-size: 12px;
	}

	#feature {
		grid-template-columns: 1fr;
	}

	#product-1 .pro-container {
		grid-template-columns: repeat(1, 1fr);
	}

	#product-1 .pro {
		width: 80%;
		min-width: 130px;
		padding: 12px 12px;
		border: 0.5px solid #dcdada46;
		border-radius: 25px;
		cursor: pointer;
		transition: var(--transition);
		margin: 5px 0;
	}
	#product-1 > div > h2 {
		font-size: 28px;
	}

	#banner h2 {
		font-size: 26px;
		padding: 16px 0;
		padding-bottom: 22px;
	}

	#page-header > h2 {
		font-size: 24px;
		line-height: 50px;
		width: 100%;
		padding: 0 0;
	}

	#product-1 > div {
		margin-bottom: 2rem;
	}

	.login-wrapper {
		max-width: 80%;
		height: 450px;
		transform: translate(-50%, -50%);
	}

	.form-box h2 {
		font-size: 1.2rem;
	}

	.input-box {
		height: 30px;

		margin: 20px 0;
	}

	.input-box .icon {
		position: absolute;
		right: 8px;
		top: -10px;
		font-size: 1rem;
		color: #e9eef1;
		line-height: 57px;
	}

	.remember-forgot,
	.remember-forgot > label {
		font-size: 0.75rem;
	}

	.mega-menu {
		opacity: 0;
	}

	.payment-wrapper {
		display: none;
	}

	#banner-3 .banner-box {
		height: 40vh;
		padding: 0 30px;
		transition: var(--transition);
	}

	#banner-3 {
		grid-template-columns: 1fr;
		gap: 2rem 0;
	}

	.newtext h4 {
		text-align: center;
		font-size: 26px !important;
	}
	.newtext p {
		color: #fff;
		font-size: 20px;
		text-align: center;
		padding: 0 20px;
	}

	#newsletter .form {
		width: 100%;
		padding: 0 20px;
	}

	#newsletter {
		height: 30vh;
	}

	footer {
		grid-template-columns: 1fr;
	}
	footer .col-2 {
		margin: 0;
	}

	footer .col-3 {
		margin-left: 0rem;
	}

	footer .install {
		width: 100%;
		/* padding: 40%; */
		margin-top: 1.2rem 1.2rem 0 0;
	}

	.payment {
		min-width: 200px;
		text-align: start;
		margin-bottom: 3.5rem;
	}
	.col-4 .row {
		display: grid;
		place-items: center;
	}

	.copyright p {
		color: #333;
		font-size: 12px;
		text-align: center;
		font-weight: 500;
		letter-spacing: var(--spacing);
	}

	.shopping-cart {
		width: 30vw;
		min-width: 450px;
	}

	/* for blog page */

	#page-header.blog-header > h2 {
		font-size: 28px;
	}

	#blog .blog-box {
		grid-template-columns: 100%;
	}

	#page-header.blog-header > p {
		font-size: 14px;
		text-align: center;
	}

	#blog {
		padding: 100px 30px 0 30px;
		margin: 0 auto;
	}
	#blog .blog-box {
		gap: 1rem;
	}

	.blog-details h4 {
		font-size: 18px;
		text-align: center;
	}

	.blog-details p {
		font-size: 14px;
		text-align: justify;
	}

	.blog-box h1 {
		left: 10px;
		font-size: 50px;
		top: -10px;
	}

	.blog-details span {
		font-size: 16px;
	}

	#blog .blog-box {
		padding: 30px 20px;
	}

	.blog-details p {
		padding: 4px 0;
		font-size: 12px;
	}

	#about-head {
		padding: 70px 50px 0 50px;
		grid-template-columns: 100%;
	}

	#page-header.about-header p {
		font-size: 16px;
		padding-top: 1rem;
	}

	#about-head > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.text h2 {
		text-align: center;
		font-size: 30px;
	}

	#about-app {
		padding: 70px 50px 0 50px;
	}

	#about-app > h1 {
		font-size: 24px;
	}

	#about-app .video {
		width: 100%;
		height: 100%;
	}
	#feature {
		grid-template-columns: repeat(1, 1fr);
	}

	#page-header.about-header p {
		font-size: 14px;
	}
	#contact-details {
		grid-template-columns: 100%;
	}

	#form-details {
		grid-template-columns: 100%;
	}

	#form-details {
		padding: 80px 15px 0 15px;
		gap: 5rem;
	}

	.inStock {
		display: none;
	}
	.cancel-wish {
		padding: 4px;
		font-size: 12px;
	}

	.wishlist-item button {
		padding: 5px 10px;
		font-size: 5px;
	}

	.wishlist-item p {
		font-size: 12px;
	}

	.wishlist-item img {
		width: 80px;
	}
	#page-header.about-header,
	#page-header.blog-header {
		height: 50vh;
	}
}
